body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(34, 168, 209, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #160808;
    border-radius: 3px;
}

button {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#add-task-button {
    background-color: #28a745;
}

#all-tasks-button {
    background-color: #79193f6c;
}

#pending-tasks-button {
    background-color: #b71111;
}

.task-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.task-filters button {
    flex: 1;
    margin: 0 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li button {
    background-color: #9717c5;
    margin-left: 5px;
}

li button.complete {
    background-color: #5d8466;
}

li button.edit {
    background-color: #df2a78;
}